
main {
    grid-column: 1 / 3; /* El contenido principal ocupa la segunda
    columna */ 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;  /* Aplica la fuente 'Lora' a los párrafos dentro de main */
    
}


/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 768px) {
    .main {
        padding: 10px;
    }

    .productos {
        flex-direction: column; /* Coloca los productos en una sola columna */
        padding: 0;
    }

    .producto {
        width: 100%; /* Los productos ocupan todo el ancho en pantallas pequeñas */
        margin: 10px 0;
    }
}
